<div class="carousel" [style.height]="height" (mouseenter)="stopAutoPlay()" (mouseleave)="startAutoPlay()">
  <div class="carousel-slide">
    <img
      [src]="currentImage.src"
      [alt]="currentImage.altKey | i18n"
      class="carousel-image"
      loading="lazy"
    >
    <div class="carousel-overlay" *ngIf="showCaptions && currentImage.captionKey">
      <h3 class="carousel-caption">{{ currentImage.captionKey | i18n }}</h3>
    </div>
  </div>

  <button class="carousel-nav carousel-nav-prev" (click)="prev()" [attr.aria-label]="'carousel.previousImage' | i18n">
    &#8249;
  </button>
  <button class="carousel-nav carousel-nav-next" (click)="next()" [attr.aria-label]="'carousel.nextImage' | i18n">
    &#8250;
  </button>

  <div class="carousel-indicators">
    <button
      *ngFor="let image of images; let i = index"
      class="indicator"
      [class.active]="i === currentIndex"
      (click)="goTo(i)"
      [attr.aria-label]="'carousel.goToImage' | i18n"
    >
    </button>
  </div>
</div>
